.text-stroke {
    font-size: 48px;
    color: white;  /* Cor do texto */
    -webkit-text-stroke: 2px black; /* Contorno de 2px de espessura na cor preta */
  }



  .text-contour {
    font-size: 48px;
    color: white;  /* Cor do texto */
    text-shadow: 
      2px 2px 0px black,   /* sombra inferior direita */
      -2px -2px 0px black, /* sombra superior esquerda */
      2px -2px 0px black,  /* sombra superior direita */
      -2px 2px 0px black;  /* sombra inferior esquerda */
  }